body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #383838;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
}

form {
    display: grid;
    gap: 1em;
}

label {
    font-weight: bold;
}

select, input[type="text"], input[type="date"], input[type="time"] {
    padding: 8px;
    margin-top: 5px;
    font-size: medium;
}

select {
    margin-bottom: 10px;
}

button {
    font-weight: bold;
    font-size: medium;
    background-color: #3498db;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#citasContainer {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td {
    background-color: #fff;
}

a {
    font-weight: bold;
    font-size: medium;
    background-color: #3498db;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: #2980b9;
}